{% extends 'dashboard/partials/_sidebar_base.html.twig' %}

{% block dashboard_sidebar_nav %}
<nav class="list-group">
    <a class="list-group-item list-group-item-action {{ section == 'info' ? 'active' : '' }}"
       href="{{ path('app_profile', { section: 'info' }) }}">
        Informations personnelles
    </a>

    <a class="list-group-item list-group-item-action {{ section == 'collections' ? 'active' : '' }}"
       href="{{ path('app_profile', { section: 'collections' }) }}">
        Mes collections
    </a>

    <a class="list-group-item list-group-item-action {{ section == 'comments' ? 'active' : '' }}"
       href="{{ path('app_profile', { section: 'comments' }) }}">
        Mes commentaires
    </a>

    <a class="list-group-item list-group-item-action {{ section == 'support' ? 'active' : '' }}"
       href="{{ path('app_profile', { section: 'support' }) }}">
        Support
    </a>

    <a class="list-group-item list-group-item-action text-danger" href="{{ path('app_logout') }}">
        Déconnexion
    </a>
</nav>
{% endblock %}
