<div class="modal fade" id="{{ id }}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog {{ size|default('') }}">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>

      <form method="post" action="{{ action }}">
        <div class="modal-body">
          <input type="hidden" name="_token" value="{{ csrf_token(csrf_id) }}">
          {% block body %}{% endblock %}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            Annuler
          </button>
          <button type="submit" class="btn {{ submit_class|default('btn-primary') }}">
            {{ submit_label|default('Valider') }}
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
